<% provide(:bodyclass, 'welcome') %>

<h1>Hi!</h1>
<p>Welcome to the Fantasy Oscars app. Here's how the game works: you start a league, fill out this year's ballot (I try to make it more about strategy than luck), send out links to your friends, and watch to see who wins come the Oscars. As the person who starts a league, you'll act as "commissioner", making sure people get ballots in and deciding who can join in the first place. If you want to start a league, you'll be asked to make an account. But get this - no one else in your league has to! They just fill out a ballot. It's free, fun, and ready when you are... </p>

<%= link_to 'Start a league.', new_commissioner_path %>

<p>Already a commissioner? Log in, you bing bong.</p>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Log In" %>
  </div>
<% end %>

<p>If you're already in a league, but not at a commissioner, you'll need to get a link from your commissioner.</p>

<p>Site by <a href="http://www.gusnordhielm.com/">Gus Nordhielm</a>, built on <a href="http://guides.rubyonrails.org/">Rails</a>.</p>