<p>Welcome to the Fantasy Oscars app! Here's how the game works: you start a league, fill out this year's ballot (I try to make it more about strategy than luck), send out links to your friends, and watch to see who wins come the Oscars.</p>

<p>This app is absolutely free to use - and only asks that the Commissioner make an account. The Commissioner gets a private link which they may share with whomever they please (think Google Docs sharing). Who gets to be the Commissioner, you ask? It's the person who clicks that there "start a league" button.</p>

<%= link_to 'Start a League!', new_commissioner_path, class: 'button' %>

<p>If you have further questions, take a look at the <%= link_to 'about', about_path, class: 'inline' %> page.</p>

<div class="section-container">
	<section>
		<p>Already a commissioner? Log in, you bing bong.</p>
		<hr>
		<%= form_for :login do |f| %>
		    <p>Email</p>
		    <%= f.text_field :email %>
		    <br>
		    <p>Password</p>
		    <%= f.password_field :password %>
		    <br>
		    <%= f.submit "Log In" %>
		<% end %>
	</section>
	<section class="cap">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
			<rect class="line" x="5" y="5" width="70" height="70" rx="40" ry="40"/>
			<rect class="fill" x="35" y="35" width="10" height="26"/>
			<rect class="fill" x="35" y="18" width="10" height="10"/>
		</svg>
		<br>
		<p>If you're trying to add a new ballot to an existing league, you're in the wrong place. You need to get a link directly from your Commissioner.</p>
	</section>
</div>

<footer>
	<p>Words and code by <a class="inline" href="http://www.gusnordhielm.com/">Gus Nordhielm</a>, built on <a class="inline" href="http://guides.rubyonrails.org/">Rails</a>.</p>
	<small>Bootstrap is a fascist contrivance.</small>
</footer>
