<h2><%= @league.league_name %></h2>
	
<div class="private-link">
	<p>Your league's private link: <span id="league-link"><%= league_url @league %></span></p>
</div>

<%= link_to "Go to league view", league_path(@league), class:'inline' %>
<% if @commissioner.designer %>
	<%= link_to "Designer Dashboard", designer_path, class:'inline' %>
<% end %>

<% if @commissioner.player.ballot %>
	<p><%= link_to "Your Ballot", league_ballot_path(@league, @commissioner.player.ballot), class:'inline' %></p>
<% else %>
	<p><%= link_to "New Ballot", league_new_ballot_path(@league), class:'inline' %></p>
<% end %>

<h2>Coming soon:</h2>
<p>Send a message to your league</p>
<p>Add another commissioner</p>
<p>Merge two leagues</p>
<p>Copy a ballot from another league</p>