<h2><%= @ballot.player.screen_name %></h2>
<br>
<br>
<%= link_to "Back", league_path(@league.league_path), class: 'inline' %>

<p><strong>Best picture:</strong> <%= @ballot.best_picture %></p> 

<p><strong>Best actress:</strong> <%= @ballot.best_actress %></p> 

<p><strong>Best actor:</strong> <%= @ballot.best_actor %></p> 

