<h1>Ballot: <%= @ballot.player.screen_name %></h1>
<%= link_to "Back", league_path(@league) %>

<p><strong>Best picture:</strong> <%= @ballot.best_picture %></p> 

<p><strong>Best actress:</strong> <%= @ballot.best_actress %></p> 

<p><strong>Best actor:</strong> <%= @ballot.best_actor %></p> 

