<h1>Designer Dashboard</h1>

<h2>Players</h2>
<table>
	<tr>
		<%= form_for @new_player, url: designer_create_path(@new_player) do |f| %>
		<td><%= f.text_field :first_name, placeholder: "first" %> <%= f.text_field :last_name, placeholder: "last" %></td>
		<td><%= f.text_field :screen_name, placeholder: "screen" %></td>
		<td><%= f.text_field :email, placeholder: "email" %></td>

		<td><%= f.submit "Create" %></td>
		<% end %>
	</tr>
	<tr>
		<th>Player Name</th>
		<th>Screen Name</th>
		<th>Email</th>
		<th>Commissioner of</th>
	</tr>

<% @players.each do |player|%>
	<tr>
		<%= form_for player, url: designer_update_path(player), method: :patch do |f| %>
		<td><%= f.text_field :first_name %> <%= f.text_field :last_name %></td>
		<td><%= f.text_field :screen_name %></td>
		<td><%= f.text_field :email %></td>
		<td><%= player.commissioner.present? ? player.commissioner.leagues.first.league_name : "None" %></td>

		<td><%= f.submit "Update" %></td>
	<% if current_user.id != player.id %>
		<td><%= link_to "Delete", designer_destroy_path(player), method: :delete %></td>
	<% end %>
	</tr>
	<% end %>
<% end %>

</table>

<h2>Leagues</h2>

<ul>
<% @leagues.each do |league|%>
	<li><%= link_to league.league_name, league_path(league) %></li>
<% end %>
</ul>
