
<p>As a commissioner, the first thing you need to do is make an account, please provide...</p>

<%= form_for @player, url: {action: "create"} do | form | %>

	<p>Your first name...</p>
	<%= form.text_field :first_name %>

	<p>Your last name...</p>
	<%= form.text_field :last_name %>

	<p>Your email...</p>
	<%= form.text_field :email %>

	<p>A screen name (must be under 11 characters)...</p>
	<%= form.text_field :screen_name %>

	<%= form.fields_for :commissioner do | build | %>

		<p>And a password...</p>
		<%= build.password_field :password %>

		<p>Which you should go ahead and confirm.</p>
		<%= build.password_field :password_confirmation %>

	<% end %>
	<br>
	<%= form.submit 'Next' %>
<% end %>

