<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'favicon.png' %>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_class %>">
  	<div class="wrapper">
	  	<% if notice %>
	      <%= notice %>
	    <% end %>

	    <% if alert %>
	      <%= alert %>
	    <% end %>

	    <%= yield %>
  	</div>

    <div style="color:#c4c7ba;background-color:#27292c;padding:10px 20px;width:100%;font-family:'courier',monospace;font-size:14px;">
      	<% if current_user %>
      		<%= "Logged in as #{current_user.email}" %>
   		 <% end %>
   		 <br>
   		 <br>
	    <%= params.inspect %>
    </div>

  </body>
</html>
