<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'favicon.png' %>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_class %>">
  	<div class="wrapper">
	  	<% if gets_home? %>
	  		<a href="/">
	  		<svg id='home-button' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 5">
	  			<polygon points="1.23 1.94 2.54 3.25 1.92 3.86 0.62 2.56 0 1.94 0.62 1.32 1.92 0.02 2.54 0.64 1.23 1.94"/>
	  			<text>Home</text>
	  		</svg>	  	
	  		</a>
	  	<% end %>

  		<h1><%= @title %></h1>
  		<hr>

	  	<% if notice %>
		  	<div class="notice">
		      <%= notice %>
		  	</div>
	    <% end %>
	    	
	    <% if alert %>
		    <div class="alert">
		      <%= alert %>
		    </div>
	    <% end %>

	    <%= yield %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</div>

  	<% if current_user && current_user.commissioner.designer %>
    <div style="color:#c4c7ba;background-color:#27292c;padding:10px 20px;width:100%;font-family:'courier',monospace;font-size:14px;">
      		<%= "Logged in as #{@current_user.email}" %>
      		<%= link_to "Log Out", logout_path %>
	   		 <br>
	   		 <br>
	    <%= params.inspect %>
    </div>
	 <% end %>

  </body>
</html>

